/* ===== Global Styles ===== */
* {
  margin: 0;
  padding: 0;
  display: border-box;
}
body {
  background: black;
  color: white;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
ul {
  list-style-type: none;
}
a {
  text-decoration: none;
}
hr {
  border: 1px solid gray;
  margin: 1rem;
}

/* ===== Navbar ===== */
.navbar {
  background: linear-gradient(rgb(50, 50, 50), black, black, rgb(255, 0, 0));
  height: 5rem;
  display: flex;
  justify-content: space-between;
  overflow: hidden;
}
.nav-links {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.nav-links a {
  color: white;
  text-transform: capitalize;
  display: inline-block;
  font-weight: bold;
  margin-right: 0.5rem;
  letter-spacing: 2px;
  font-size: 1.2rem;
  padding: 0.25rem 0.5rem;
}
.nav-links a:hover {
  box-shadow: 0px 3px 1px 0px red;
}
.logo {
  visibility: hidden;
  height: 0;
  border-radius: 0 0 40px 0px;
  box-shadow: 0 0 10px 5px red;
}
@media screen and (min-width: 600px) {
  .logo {
    visibility: visible;
    height: 80px;
  }
}
/* ===== Time Clock ===== */
.clock {
  background: rgba(0, 0, 0, 0.4);
  width: 250px;
  padding: 1rem 2rem;
  border-radius: 0 40px 40px 0;
  box-shadow: 0 0 5px 2px black;
}
.clock-display {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  text-align: center;
  font-size: 3rem;
}
/* ===== Pages ===== */
.section {
  background: url(./images/bluered-background.webp);
  min-height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
}
.section-title {
  font-size: 2rem;
  text-align: center;
  padding: 2rem;
  background: rgba(80, 80, 80, 0.5);
}
.section-inner {
  min-height: 50vh;
  padding: 1rem;
}
.section p {
  font-size: 1.5rem;
}
.dark-glass {
  background: rgba(0, 0, 0, 0.3);
}
.dark-glass:hover {
  background: rgba(0, 0, 0, 0.4);
}
/* ===== Home Page ===== */
.home-section {
  background: url(./images/purple_sea_sunset.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 90vh;
  text-align: center;
}
.home-title {
  text-align: center;
  font-size: 3rem;
  padding: 2rem;
}
.home-react-logo {
  position: static;
  height: 100px;
  margin: 1rem 0;
}
/* Skills */
.skills {
  height: 100vh;
}
.skills-display {
  padding: 0 5%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.skill-card {
  padding: 0 1rem 1rem 1rem;
  margin: 2rem;
  width: 250px;
  min-height: 350px;
  background: rgb(50, 50, 50);
  text-align: center;
  overflow: hidden;
}
.skill-card:hover {
  box-shadow: 0 0 10px 2px red;
}
.card-title {
  padding: 1rem;
}
.skill-card img {
  height: 100px;
  background: black;
  margin: 0.5rem;
  padding: 1rem;
  box-shadow: 0 0 50px 1px white;
}
/* ===== About page ===== */
.projects {
  padding: 1rem;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.project-card {
  margin: 1rem;
  min-width: 400px;
  min-height: 30%;
  display: grid;
  text-align: center;
  grid-template-rows: 1fr 2fr 1fr;
  border: 2px solid black;
  background: rgb(20, 20, 30);
}
.project-card h3 {
  padding: 1rem;
  background: rgba(0, 0, 0, 0.7);
}
#project1 {
  background: url(./images/keypress_thumb.jpg);
  background-position: center;
  background-size: cover;
}
#project2 {
  background: url(./images/animation_thumb.webp);
  background-position: center;
  background-size: cover;
}
#project3 {
  background: url(https://d33wubrfki0l68.cloudfront.net/6087e50b2db51d091d1f68ef/screenshot_2021-04-27-10-19-51-0000.png);
  background-position: center;
  background-size: cover;
}
#project4 {
  background: url(https://d33wubrfki0l68.cloudfront.net/6087f02e7f416e069c2964ee/screenshot_2021-04-27-11-07-18-0000.png);
  background-position: center;
  background-size: cover;
}
.project-btn {
  display: grid;
  grid-template-columns: 1fr 1fr;
  place-items: center;
}
.project-btn a {
  width: 100%;
  height: 100%;
  display: grid;
  place-items: center;
  color: rgb(0, 255, 0);
  background: rgba(0, 0, 0, 0.7);
}
.project-btn a:hover {
  color: white;
  background: black;
}

/* ===== Contact Page ===== */
.social-section {
  min-height: 100vh;
}
.social-list li {
  padding: 1rem;
}
.social-list button,
.social-list a {
  font-size: 1.2rem;
  color: white;
  background: rgba(0, 0, 0, 0.3);
  cursor: pointer;
  border: 1px solid red;
  border-radius: 0 20px;
  padding: 0.5rem;
  margin: 0.5rem;
}
.social-list button:hover,
.social-list a:hover {
  background: black;
  box-shadow: 0 2px 2px 1px red;
}
/* ===== Modal Open/Close for message ===== */
.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: grid;
  place-items: center;
  visibility: hidden;
  z-index: -1;
}
.show-modal {
  visibility: visible;
  z-index: 10;
}
.modal-container {
  color: rgb(0, 255, 21);
  background: rgb(50, 50, 50);
  width: 20vw;
  height: 8vh;
  display: grid;
  place-items: center;
}

/* ===== Error page ===== */
.error-page {
  display: flex;
  justify-content: center;
}
